# Top-level dependencies for the Calendar Bot

Flask
gunicorn
gevent
apscheduler
google-api-python-client>=2.168.0
google-auth-oauthlib
tenacity
python-dotenv
prometheus-client
requests
sendgrid

# Testing dependencies
pytest
pytest-mock
pytest-dotenv
